--extra-index-url https://download.pytorch.org/whl/cu118

torch==2.3.1
torchvision==0.18.1
torchaudio==2.3.1

numpy<2.0
scipy
scikit-learn>=1.3.0
matplotlib>=3.5.0

nltk
flask
flask-cors
sastrawi
colorama

faster-whisper
edge-tts
SpeechRecognition
soundfile
librosa
ffmpeg-python
praat-parselmouth
pyworld
torchcrepe

pygame
faiss-cpu==1.7.4
